@charset "UTF-8";
/*===============
reset
=============== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #676767;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1150px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 42px;
  font-family: serif;
  margin: 150px 0 40px 0;
}

@media (max-width: 767px) {
  .section-title {
    margin-top: 50px;
  }
}

/*===============
header
=============== */
.header {
  height: 350px;
}

@media (max-width: 767px) {
  .header {
    height: 250px;
  }
}

.header-inner {
  position: relative;
}

.header-title {
  position: absolute;
  top: 100px;
  left: 5%;
}

@media (max-width: 767px) {
  .header-title {
    position: static;
    margin: 15px 0 10px 0;
  }
}

.header-title a {
  font-size: 34px;
  font-weight: bold;
}

.header-title a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .header-title a {
    margin: 0;
    text-align: left;
    padding-left: 30px;
    font-size: 24px;
  }
}

.header-list {
  position: absolute;
  top: 300px;
  right: 5%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header-list {
    position: static;
    display: block;
    width: 100%;
  }
}

.header-list-item a:hover {
  text-decoration: underline;
  opacity: .7;
}

@media (max-width: 767px) {
  .header-list-item a {
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
    border-bottom: 1px solid #676767;
    padding: 15px 0 15px;
    border: 1px solid #676767;
  }
}

.header-sns-link {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header-sns-link {
    position: static;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.sns-link-item a:hover {
  opacity: 0.7;
}

/*===============
top
=============== */
.top {
  height: 450px;
  width: 100%;
  background-image: url(../images/top03.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 767px) {
  .top {
    width: 80%;
    margin: 0 auto;
  }
}

.top-text {
  position: absolute;
  top: 55%;
  left: 20%;
  font-size: 18px;
  color: #676767;
  background-color: #fff;
  height: 220px;
  width: 500px;
  text-align: center;
  line-height: 2.5em;
  border-radius: 10px 50px 30px 20px;
}

@media (max-width: 767px) {
  .top-text {
    background: transparent;
    height: 400px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    position: static;
    display: inline-block;
    margin-top: 50px;
    padding-right: 200px;
    color: #fff;
  }
}

/*===============
about
=============== */
.about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .about-contents {
    display: block;
  }
}

.about-left {
  height: 80%;
  border-radius: 50px;
  width: 48%;
}

@media (max-width: 767px) {
  .about-left {
    width: 65%;
    display: block;
    margin: 0 auto;
  }
}

.about-right {
  width: 48%;
  vertical-align: middle;
  line-height: 2em;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .about-right {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.about-right-subtitle {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*===============
skills
=============== */
.skills-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .skills-contents {
    display: block;
    width: 100%;
  }
}

.skill01,
.skill02 {
  width: 48%;
  text-align: center;
}

@media (max-width: 767px) {
  .skill01,
  .skill02 {
    width: 100%;
  }
}

.skill01-title,
.skill02-title {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 24px;
  border: 1px solid #000;
}

@media (max-width: 767px) {
  .skill02-title {
    margin-top: 30px;
  }
}

.skill01-subtitle,
.skill02-subtitle {
  opacity: 0.7;
  margin-bottom: 50px;
}

.skill01-icon,
.skill02-icon {
  margin-bottom: 30px;
}

.skill01-text,
.skill02-text {
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

/*===============
works
=============== */
.works-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .works-list {
    display: inline-block;
  }
}

.works-list-item {
  width: 40%;
  height: auto;
}

@media (max-width: 767px) {
  .works-list-item {
    margin: 0 auto;
    width: 50%;
  }
  .works-list-item:not(:first-child) {
    margin-top: 30px;
  }
}

.photo a img {
  width: 100%;
  height: 100%;
}

.photo a img:hover {
  opacity: 0.7;
}

.toTop {
  background: rgba(255, 255, 255, 0.8);
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.toTop:hover {
  opacity: 0.7;
}

.toTop span::before {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: gray;
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 767px) {
  .toTop span::before {
    width: 30px;
    right: 25px;
  }
}

.toTop span::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: gray;
  position: absolute;
  top: 50%;
  left: 17px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .toTop span::after {
    width: 30px;
    left: 25px;
  }
}

/*===============
contact
=============== */
.contact-inner {
  width: 65%;
}

.contact-header {
  position: relative;
  height: 196px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 40px;
  background: url(../images/contact.jpg) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
}

@media (max-width: 767px) {
  .contact-header {
    height: 150px;
  }
}

.contact-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 196px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px 12px 0 0;
}

@media (max-width: 767px) {
  .contact-header::before {
    height: 150px;
  }
}

.contact-header-title {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 100;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  .contact-header-title {
    top: 35%;
    left: 35%;
  }
}

.contact-content {
  border: 1px solid #000;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .contact-item {
    width: 100%;
    display: block;
    padding: 0 20px;
    margin-bottom: 10px;
  }
}

.contact-item-ttl {
  color: #000;
  font-weight: bold;
  width: 188px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .contact-item-ttl {
    margin-bottom: 5px;
  }
}

.contact-label {
  background: #ff4646;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 7px;
}

.contact-item-box {
  width: 80%;
  margin: 0;
}

.contact-item-box select {
  font-size: 14px;
  padding: 10px;
}

.contact-item-box input[type="text"],
.contact-item-box input[type="email"] {
  border: none;
  border-bottom: 1px solid gray;
  font-weight: 400;
  padding: 7px 12px 7px;
  font-size: 16px;
  width: 100%;
}

.contact-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-radio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.contact-radio-item input[type="radio"] {
  margin-right: 10px;
}

.contact-radio-item input[type="radio"]:hover {
  -webkit-box-shadow: 1px 1px 6px -1px #4973ff;
          box-shadow: 1px 1px 6px -1px #4973ff;
}

.contact-radio-label {
  line-height: 1.2em;
}

.contact-item-message {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-item-message textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: vertical;
}

.contact-privacy {
  color: #000;
  margin-top: 32px;
  margin-left: 115px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .contact-privacy {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.contact-btn {
  display: inline-block;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 40px;
  margin-left: 115px;
  margin-bottom: 80px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f18900;
  -webkit-transform: translate3d(0, 5px, 2px);
          transform: translate3d(0, 5px, 2px);
}

@media (max-width: 767px) {
  .contact-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.contact-btn:hover {
  background-color: #ffaa3b;
  -webkit-box-shadow: 0 3px 5px #000;
          box-shadow: 0 3px 5px #000;
  color: #fff;
}

/*===============
footer
=============== */
.footer {
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 30px;
  }
}

.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

@media (max-width: 767px) {
  .footer-contents {
    display: block;
  }
}

.footer-left {
  line-height: 3em;
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
  }
}

.footer-list {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-list {
    display: block;
    width: 100%;
  }
}

.footer-list-item a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer-list-item a {
    border: 1px solid #676767;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer-right {
    clear: both;
  }
}

.footer-copyright {
  font-size: 12px;
}

@media (max-width: 767px) {
  .footer-copyright {
    text-align: center;
    padding-top: 30px;
  }
}
