@charset 'utf-8';

$main-color: #676767;
$layout-width-inner: 1200px;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
);
 
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)
  } {
    @content;
  }
}


/*===============
reset
=============== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: $main-color;
  user-select: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1150px;
  max-width: 100%;  
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 42px;
  font-family: serif;
  margin: 150px 0 40px 0;

  @include mq("sp") {
    margin-top: 50px;
  }
}

/*===============
header
=============== */
.header {
  height: 350px;

  @include mq("sp") {
    height: 250px;    
  }
}

.header-inner {
  position: relative;

  @include mq("sp") {
    
  }
}

.header-title {
  position: absolute;
  top: 100px;
  left: 5%;

  @include mq("sp") {
    position: static;
    margin: 15px 0 10px 0;
  }

  a {
    font-size: 34px;
    font-weight: bold;

    &:hover {
        opacity: 0.7;
    }
    
      @include mq("sp") {               
        margin: 0;
        text-align: left;
        padding-left: 30px;
        font-size: 24px;        
      }
  }
}

.header-nav {

  @include mq("sp") {

  }
}

.header-list {
    position: absolute;
    top: 300px;
    right: 5%;
    width: 300px;
    display: flex;
    justify-content: space-between;

    @include mq("sp") {
      position: static;          
      display: block;       
      width: 100%;              
    }
}

.header-list-item {

    a {
        &:hover {
            text-decoration: underline;
            opacity: .7;
        }

        @include mq("sp") {          
          width: 50%;
          height: auto;
          float: left;
          text-align: center;
          border-bottom: 1px solid $main-color;
          padding: 15px 0 15px;   
          border: 1px solid $main-color;                   
        }
      }
      
}

.header-sns-link {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 80px;
  display: flex;
  justify-content: space-between;

  @include mq("sp") {
    position: static;
    // justify-content: center;
    margin: 0 auto;
    padding-top: 20px;    
  }

}


.sns-link-item {
  
  a {
    &:hover {
      opacity: 0.7;
    }

    @include mq("sp") {
    }
    
  }
  
}


/*===============
top
=============== */
.top {
  height: 450px;
  width: 100%;
  background-image: url(../images/top03.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include mq("sp") {
    width: 80%;
    margin: 0 auto;
  }
}

.top-text {
  position: absolute;
  top: 55%;
  left: 20%;
  font-size: 18px;
  color: $main-color;
  background-color: #fff;
  height: 220px;
  width: 500px;
  text-align: center;
  line-height: 2.5em;
  border-radius: 10px 50px 30px 20px;

  @include mq("sp") {
    background: transparent;
    height: 400px;
    writing-mode: vertical-rl;
    position: static;
    display: inline-block;
    margin-top: 50px;
    padding-right: 200px;
    // color: #627a82;  
    color: #fff;    
  }

}

.top-text-content {
}

/*===============
about
=============== */
.about {
}

.about-contents { 
  display: flex;
  justify-content: space-between;  

  @include mq("sp") {
    display: block;
  }
}

.about-left {
  // width: 500px;
  // height: 400px;
  height: 80%;
  border-radius: 50px;
  width: 48%;  

  @include mq("sp") {    
    width: 65%;
    display: block;
    margin: 0 auto;
  }
}

.about-right {
  width: 48%;
  vertical-align: middle;
  line-height: 2em;
  vertical-align: middle;

  @include mq("sp") {    
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.about-right-subtitle {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*===============
skills
=============== */
.skills {
}

.skills-contents {
  display: flex;
  justify-content: space-between;

  @include mq("sp") {
    display: block;
    width: 100%;
  }
}

.skill01,
.skill02 {
  width: 48%;
  text-align: center;

  @include mq("sp") {
    width: 100%;    
  }
}

.skill01-title,
.skill02-title {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 24px;
  border: 1px solid #000;
}

.skill02-title {

  @include mq("sp") {
    margin-top: 30px;
  }
}

.skill01-subtitle,
.skill02-subtitle {
  opacity: 0.7;
  margin-bottom: 50px;
}

.skill01-icon,
.skill02-icon {
  margin-bottom: 30px;
}

.skill01-text,
.skill02-text {
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

/*===============
works
=============== */
.works {
}

.works-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include mq("sp") {
    display: inline-block;
     
  }
}

.works-list-item {
  width: 40%;
  height: auto;

  @include mq("sp") {
    margin: 0 auto;
    width: 50%;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.photo {

  a {
    img {
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.toTop {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    position: relative;
    

    &:hover {
        opacity: 0.7;
    }

    span {

        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 5px;
            background: gray;
            position: absolute;
            top: 50%;
            right: 17px;
            transform: rotate(45deg);

            @include mq("sp") {
              width: 30px;
              right: 25px;
            }
          }
          
          &::after {
            content: "";
            display: block;
            width: 40px;
            height: 5px;
            background: gray;
            position: absolute;
            top: 50%;
            left: 17px;
            transform: rotate(-45deg);

            @include mq("sp") {
              width: 30px;
              left: 25px;
            }
          }  
        }
      }
      
/*===============
contact
=============== */
.contact {
    
}

.contact-inner {    
    width: 65%;
}

.contact-header {   
    position: relative;
    height: 196px;    
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 40px;
    background: url(../images/contact.jpg) no-repeat center center/cover;
    border-radius: 12px 12px 0 0;

    @include mq("sp") {
      height: 150px;
    }

    &::before {
        content: "";
        display: block;        
        position: absolute;
        top: 0;
        left: 0;                
        height: 196px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);        
        border-radius: 12px 12px 0 0;

        @include mq("sp") {
          height: 150px;
        }
    }
}

.contact-header-title {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
    text-align: center;    
    font-size: 30px;
    color: #fff; 

    @include mq("sp") {
      top: 35%;
      left: 35%;
    }
}

.contact-content {
  border: 1px solid #000;
}

.contact-list {

  @include mq("sp") {
    
  }
}

.contact-item {
    display: flex;
    padding: 0 120px;
    align-items: center;
    margin-top: 30px;    

    @include mq("sp") {            
      width: 100%;
      display: block;
      padding: 0 20px;
      margin-bottom: 10px;
    }
    
}

.contact-item-ttl {
    color: #000;
    font-weight: bold;    
    width: 188px;
    margin-right: 20px;

    @include mq("sp") {      
      margin-bottom: 5px;
    }
}

.contact-label {
    background: #ff4646;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 8px;
    border-radius: 4px;
    margin-left: 7px;
}

.contact-item-box {    
    width: 80%;  
    margin: 0;

    select {
        font-size: 14px;
        padding: 10px;
    }

    input[type="text"],
    input[type="email"] {
        border: none;
        border-bottom: 1px solid gray;
        font-weight: 400;
        padding: 7px 12px 7px;
        font-size: 16px;
        width: 100%;
    }

}

.content-focus-line {

}

.contact-radio {
    display: flex;
}

.contact-radio-item {
    display: flex;
    margin-right: 20px;

    input[type="radio"] {
        margin-right: 10px;

        &:hover {
            box-shadow: 1px 1px 6px -1px #4973ff;
        }
    }
}

.contact-radio-label {
    line-height: 1.2em;
}

.contact-item-message {
    flex-wrap: wrap;


    textarea {
        width: 100%;
        max-width: 100%;
        height: 150px;
        resize: vertical;
    }
}

.contact-privacy {
    color: #000;
    margin-top: 32px;
    margin-left: 115px;
    font-weight: bold;

    @include mq("sp") {
      text-align: center;
      margin-left: 0;
      margin-bottom: 20px;
    }
}

.contact-privacy-input {

}

.contact-privacy-label {

}

.contact-btn {    
    display: inline-block;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 40px;
    margin-left: 115px;
    margin-bottom: 80px;
    color: #fff;
    box-shadow: none;
    background: #f18900;
    transform: translate3d(0, 5px, 2px);
    
    @include mq("sp") {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    
    &:hover {
      background-color: #ffaa3b;
      box-shadow: 0 3px 5px #000;
      color: #fff;
    }
}


/*===============
footer
=============== */
.footer {
    margin-bottom: 50px;
    margin-top: 50px;

    @include mq("sp") {
      margin-top: 30px;
    }
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    @include mq("sp") {
      display: block;      
    }
}

.footer-left {
    line-height: 3em;

    @include mq("sp") {
      width: 100%;
    }
}

.footer-list {
    width: 300px;
    display: flex;
    justify-content: space-between;

    @include mq("sp") {
      display: block;
      width: 100%;
    }
  }
  
  .footer-list-item {
    
    a {
      &:hover {
        text-decoration: underline;
      }
      
      @include mq("sp") {
          border: 1px solid $main-color;
          display: block;
          width: 50%;   
          float: left; 
          text-align: center;                          
        }
  }
}

.footer-right {
    
  @include mq("sp") {    
    clear: both;
  }
}

.footer-copyright {
    font-size: 12px;   
    
    @include mq("sp") {
      text-align: center; 
      padding-top: 30px;           
    }
}
